<div class="container">
  <form class="form" action="login" method="POST">
    <div class="center-align">
      <h3>Log In</h3>
    </div>
    <label for="username">Login</label>
    <input id="username" type="text" name="username" placeholder="Enter your login">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter your password">
    <div class="center-align">
      <button class="btn waves-effect waves-light btn-large" type="submit">LogIn</button>
      <div>
        <span>No account yet?</span>
        <a href="/registration">Create an account</a>
      </div>
    </div>
  </form>
</div>