<div class="container">
  <form class="form" action="/registration" method="POST">
    <div class="center-align">
      <h3>Create an account</h3>
    </div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Enter your name">
    <label for="username">Login</label>
    <input id="username" type="text" name="username" placeholder="Enter your login">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter your password">
    <div class="center-align">
      <button class="btn waves-effect waves-light btn-large" type="submit">Register</button>
      <div>
        <span>Already have an account, please</span>
        <a href="/login">LogIn</a>
      </div>
    </div>
  </form>
</div>